.libs/
.svnignore
.deps
*.lo
*.la
Makefile*
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h*
config.sub
config.log
config.nice
config.status
config.cache
configure
configure.ac
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
nbproject/
run-tests.php
*.net
tmp-php.ini
ltmain.sh.backup
crypto-*.tgz
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
